@import "bootstrap.min.css";

body { padding-top: 3em; }

a.logo {
  font: 3.5em "Lobster", serif;
  margin-bottom: 0.2em;
}

a {
  font-size: 1.2em;
}

.devise-links {
  margin: 0 0.5em;
}

.centered-content {
  text-align:center;
}

footer {
  height: 4em;
  background-color: #eee;
  padding-top: 2em;
  margin-top: 1em;
  li {
    display: inline;
    padding: 0 0.5em;
  }
}

.user-info {
  margin-top: 9px;
}
.nav {
  margin-top: 5px;
}